body{
    overflow-x: hidden;
}
nav{
    background-color: rgba(94, 5, 64, 0.815);
}
nav .navLogo img{
    width: 100px;
    height: 40px;
}

/* product page css  */

/* for cards  */

.product_inner_imgbox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(220, 220, 220, 0.479);
    box-shadow: 0 5px 20px -3px  rgba(59, 54, 54, 0.5);
    object-fit: cover;
    border-radius: 0.5rem;
}

.product_inner_imgbox img{
    border-radius: 0.5rem;
    transition: all;
}
/* for title product */
#products{
    padding: 5vh 8vw 7vh 8vw;
    background: rgba(13, 196, 141, 0.678);
    width: 100vw;
}

#products .container .productcard{
    background-color: rgba(255, 255, 255, 0.411);
}
#products .titleDesi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#products .container .card  .product_inner_imgbox{
    transition: 0.3s;
}

#products .container .card  .product_inner_imgbox:hover{
    background-color: rgba(1, 31, 43, 0.103);
    transform: scale(1.1);
    z-index: 20;
}

/* for the product range  */

#products .productRange {
    display: flex;
    height: 50px;
}

#products .productRange .active{
    display: flex;
    width: 100%;
    justify-content: center;
}
#products .productRange .active .d-block{
    width: 15%;
    margin-left: 3em;
}
/* for footer  */
footer #conctIcon{
    display: flex;
    justify-content: center;
}

footer .container #conctIcon .conctIcon a{
    color: rgba(161, 113, 201, 0.527);
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 3px;
}

#foot-first-part{
    display: flex;
    justify-content: center;
    align-items: center;
}
#foot-first-part .f1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    padding: 0rem 7rem 7rem 7rem;
}
#foot-first-part .f2{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 50vw;
    padding: 0rem 7rem 7rem 7rem;
}

#foot-first-part .f2 input[type="submit"]{
    background-color: rgba(255, 235, 205, 0.603);
    border-width: 3px;
}
#foot-first-part .f2 input[type="email"]{
    background-color: rgba(243, 243, 242, 0.884);
    border: none;
}

/* for navLogo */
nav .container{
    display: flex;
    justify-content:center;
}

nav .container .navLogo{
    width: 50vw;
}


/* product page css end  */



/* about page css  */

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(60, 165, 179, 0.856);
    width: 100vw;
}

#about .row {
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 4px;
    display: flex;
}

@media screen and (max-width: 1037px) and (max-height: 607px) {
    #about .aboutowner {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;

    }
}

#about .titleDesi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#about .row .d-flex{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 200px;
    background-color: rgba(233, 223, 228, 0.39);
    border-radius: 50px;
}

#about .row .d-flex img{
    border-radius: 50%;
    border: 4px solid rgba(143, 134, 134, 0.281);
}

#about .aboveRelive{
    text-align: center;
}
