 /* this is for the input range in the cart jsx file  */
 input[type="range"]{
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    /* border-width: 4px; */
    border:5px solid black;
    background-color: white;
    pointer-events: auto;
    -webkit-appearance: none;
}

/* modify the react-multi-carousel dots in the hom jsx file  */
