/* hide input arrow in number tag  */




input[type = "number"]{
  -moz-appearance:textfield;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
};

